In [1]:
import psycopg2
from pandasql import sqldf
import pandas as pd
import numpy as np
import pickle
from copy import deepcopy

from sqlalchemy_conn import engine

In [2]:
query = "SELECT DISTINCT seriesname FROM undata WHERE goalid = 5;"
series5 = pd.read_sql(query, engine)
for name in series5['seriesname']:
    print name

Unmet need for family planning, total, percentage
Current contraceptive use among married women 15-49 years old, condom, percentage
Current contraceptive use among married women 15-49 years old, any method, percentage
Births attended by skilled health personnel, percentage
Maternal mortality ratio per 100,000 live births
Current contraceptive use among married women 15-49 years old, modern methods, percentage
Antenatal care coverage, at least four visits, percentage
Unmet need for family planning, spacing, percentage
Unmet need for family planning, limiting, percentage
Antenatal care coverage, at least one visit, percentage
Adolescent birth rate, per 1,000 women

In [3]:
query = "SELECT DISTINCT targetid, seriesrowid, seriesname FROM undata WHERE goalid = 5;"
pd.read_sql(query, engine)

    targetid  seriesrowid                                         seriesname
0         19          730  Current contraceptive use among married women ...
1         19          764  Unmet need for family planning, total, percentage
2         19          731  Current contraceptive use among married women ...
3         19          778  Unmet need for family planning, limiting, perc...
4         19          763  Antenatal care coverage, at least four visits,...
5         19          762  Antenatal care coverage, at least one visit, p...
6         19          777  Unmet need for family planning, spacing, perce...
7         19          761             Adolescent birth rate, per 1,000 women
8          6          553   Maternal mortality ratio per 100,000 live births
9          6          570  Births attended by skilled health personnel, p...
10        19          732  Current contraceptive use among married women ...

In [4]:
query = "SELECT DISTINCT seriesname FROM undata WHERE goalid = 6;"
series6 = pd.read_sql(query, engine)
for name in series6['seriesname']:
    print name

Tuberculosis detection rate under DOTS, percentage (upper bound)
Percentage of HIV-infected pregnant women who received antiretroviral drugs to reduce the risk for mother-to-child transmission (upper bound)
Condom use at last high-risk sex, 15-24 years old, men, percentage
Tuberculosis death rate per year per 100,000 population (upper bound)
Tuberculosis detection rate under DOTS, percentage (lower bound)
Condom use to overall contraceptive use among currently married women 15-49 years old, percentage
Tuberculosis incidence rate per year per 100,000 population (upper bound)
HIV prevalence rate, women 15-49 years old, in national based surveys
People living with HIV, 15-49 years old, percentage (upper bound)
Tuberculosis death rate per year per 100,000 population (lower bound)
Tuberculosis treatment success rate under DOTS, percentage
HIV incidence rate, 15-49 years old, percentage (mid-point)
Tuberculosis incidence rate per year per 100,000 population (mid-point)
Tuberculosis prevalence rate per 100,000 population (mid-point)
Percentage of HIV-infected pregnant women who received antiretroviral drugs to reduce the risk for mother-to-child transmission (Mid point)
People living with HIV, 15-49 years old, percentage
AIDS deaths
Antiretroviral therapy coverage among people with advanced HIV infection, percentage (upper bound)
Children under 5 sleeping under insecticide-treated bed nets, percentage
Children under 5 with fever being treated with anti-malarial drugs, percentage
Percentage of HIV-infected pregnant women who received antiretroviral drugs to reduce the risk for mother-to-child transmission (lower bound)
AIDS deaths (upper bound)
Tuberculosis prevalence rate per 100,000 population (upper bound)
Tuberculosis incidence rate per year per 100,000 population (lower bound)
HIV incidence rate, 15-49 years old, percentage (lower bound)
School attendance rate of children aged 10-14 both of whose parents are alive and who live with at least one parent
Tuberculosis prevalence rate per 100,000 population (lower bound)
School attendance rate of orphans aged 10-14
Women 15-24 years old with comprehensive correct knowledge of HIV/AIDS, percentage
HIV prevalence rate, men 15-49 years old, in national based surveys
Notified cases of malaria per 100,000 population
Tuberculosis detection rate under DOTS, percentage (mid-point)
Malaria death rate per 100,000 population, all ages
Malaria death rate per 100,000 population, ages 0-4
Men 15-24 years old with comprehensive correct knowledge of HIV/AIDS, percentage
Condom use at last high-risk sex, 15-24 years old, women, percentage
Ratio of school attendance rate of orphans to school attendance rate of non orphans
HIV incidence rate, 15-49 years old, percentage (upper bound)
Antiretroviral therapy coverage among people with advanced HIV infection, percentage (lower bound)
Tuberculosis death rate per year per 100,000 population (mid-point)
Antiretroviral therapy coverage among people with advanced HIV infection, percentage
People living with HIV, 15-49 years old, percentage (lower bound)
AIDS deaths (lower bound)
AIDS orphans (one or both parents)

In [5]:
query = "SELECT DISTINCT targetid, seriesrowid, seriesname FROM undata WHERE goalid = 6;"
pd.read_sql(query, engine)

    targetid  seriesrowid                                         seriesname
0          7          579                                        AIDS deaths
1          7          622                 AIDS orphans (one or both parents)
2          7          726  Ratio of school attendance rate of orphans to ...
3          7          729  People living with HIV, 15-49 years old, perce...
4          7          733  Condom use to overall contraceptive use among ...
5          7          734  Condom use at last high-risk sex, 15-24 years ...
6          7          735  Condom use at last high-risk sex, 15-24 years ...
7          7          741  Men 15-24 years old with comprehensive correct...
8          7          742  Women 15-24 years old with comprehensive corre...
9          7          747  HIV prevalence rate, men 15-49 years old, in n...
10         7          748  HIV prevalence rate, women 15-49 years old, in...
11         7          781       School attendance rate of orphans aged 10-14
12         7          782  School attendance rate of children aged 10-14 ...
13         7          797                          AIDS deaths (lower bound)
14         7          798                          AIDS deaths (upper bound)
15         7          799  People living with HIV, 15-49 years old, perce...
16         7          800  People living with HIV, 15-49 years old, perce...
17         7          801  HIV incidence rate, 15-49 years old, percentag...
18         7          802  HIV incidence rate, 15-49 years old, percentag...
19         7          803  HIV incidence rate, 15-49 years old, percentag...
20         8          617  Tuberculosis prevalence rate per 100,000 popul...
21         8          618  Tuberculosis treatment success rate under DOTS...
22         8          644   Notified cases of malaria per 100,000 population
23         8          645  Children under 5 sleeping under insecticide-tr...
24         8          646  Children under 5 with fever being treated with...
25         8          647  Tuberculosis death rate per year per 100,000 p...
26         8          663  Malaria death rate per 100,000 population, all...
27         8          664  Malaria death rate per 100,000 population, age...
28         8          718  Tuberculosis detection rate under DOTS, percen...
29         8          766  Tuberculosis incidence rate per year per 100,0...
30         8          789  Tuberculosis incidence rate per year per 100,0...
31         8          790  Tuberculosis incidence rate per year per 100,0...
32         8          791  Tuberculosis prevalence rate per 100,000 popul...
33         8          792  Tuberculosis prevalence rate per 100,000 popul...
34         8          793  Tuberculosis death rate per year per 100,000 p...
35         8          794  Tuberculosis death rate per year per 100,000 p...
36         8          795  Tuberculosis detection rate under DOTS, percen...
37         8          796  Tuberculosis detection rate under DOTS, percen...
38        20          765  Antiretroviral therapy coverage among people w...
39        20          804  Antiretroviral therapy coverage among people w...
40        20          805  Antiretroviral therapy coverage among people w...
41        20          806  Percentage of HIV-infected pregnant women who ...
42        20          807  Percentage of HIV-infected pregnant women who ...
43        20          808  Percentage of HIV-infected pregnant women who ...

In [6]:
query = "SELECT DISTINCT seriesrowid, seriesname FROM undata WHERE goalid = 1;"
series1 = pd.read_sql(query, engine)
for name in series1['seriesname']:
    print name

Share of youth unemployed to total unemployed, both sexes
Share of youth unemployed to total unemployed, men
Proportion of employed people living below $1 (PPP) per day, percentage
Population undernourished, millions
Population below national poverty line, urban, percentage
Population below national poverty line, total, percentage
Ratio of youth unemployment rate to adult unemployment rate, both sexes
Population below $1.25 (PPP) per day, percentage
Population below national poverty line, rural, percentage
Proportion of own-account and contributing family workers in total employment, men, percentage
Proportion of own-account and contributing family workers in total employment, both sexes, percentage
Poverty gap ratio at $1.25 a day (PPP), percentage
Share of youth unemployed to youth population, women
Employment-to-population ratio, women, percentage
Share of youth unemployed to youth population, both sexes
Population undernourished, percentage
Employment-to-population ratio, both sexes, percentage
Share of youth unemployed to total unemployed, women
Youth unemployment rate, aged 15-24, women
Youth unemployment rate, aged 15-24, both sexes
Youth unemployment rate, aged 15-24, men
Children under 5 severely underweight, percentage
Children under 5 moderately or severely underweight, percentage
Employment-to-population ratio, men, percentage
Growth rate of GDP per person employed, percentage
Ratio of youth unemployment rate to adult unemployment rate, men
Ratio of youth unemployment rate to adult unemployment rate, women
Poorest quintile&quot;s share in national income or consumption, percentage
Share of youth unemployed to youth population, men
Purchasing power parities (PPP) conversion factor, local currency unit to international dollar
Proportion of own-account and contributing family workers in total employment, women, percentage

In [7]:
query = "SELECT DISTINCT targetid, seriesrowid, seriesname FROM undata WHERE goalid = 1;"
pd.read_sql(query, engine)

    targetid  seriesrowid                                         seriesname
0         16          678  Share of youth unemployed to youth population,...
1          1          699  Purchasing power parities (PPP) conversion fac...
2          2          560  Children under 5 severely underweight, percentage
3          1          585  Poorest quintile&quot;s share in national inco...
4         16          773  Proportion of own-account and contributing fam...
5          2          559  Children under 5 moderately or severely underw...
6         16          672  Ratio of youth unemployment rate to adult unem...
7         16          757  Growth rate of GDP per person employed, percen...
8         16          673  Ratio of youth unemployment rate to adult unem...
9         16          770    Employment-to-population ratio, men, percentage
10        16          758  Employment-to-population ratio, both sexes, pe...
11        16          676  Share of youth unemployed to total unemployed,...
12        16          596         Youth unemployment rate, aged 15-24, women
13        16          630    Youth unemployment rate, aged 15-24, both sexes
14        16          597           Youth unemployment rate, aged 15-24, men
15         2          640                Population undernourished, millions
16        16          772  Proportion of own-account and contributing fam...
17        16          760  Proportion of own-account and contributing fam...
18        16          679  Share of youth unemployed to youth population,...
19         1          583  Population below national poverty line, rural,...
20         1          584  Poverty gap ratio at $1.25 a day (PPP), percen...
21        16          771  Employment-to-population ratio, women, percentage
22        16          677  Share of youth unemployed to youth population,...
23         1          581  Population below national poverty line, total,...
24        16          671  Ratio of youth unemployment rate to adult unem...
25         1          580   Population below $1.25 (PPP) per day, percentage
26        16          674  Share of youth unemployed to total unemployed,...
27        16          759  Proportion of employed people living below $1 ...
28        16          675  Share of youth unemployed to total unemployed,...
29         2          566              Population undernourished, percentage
30         1          582  Population below national poverty line, urban,...

In [41]:
query = "SELECT DISTINCT seriesrowid, seriesname FROM undata WHERE goalid = 8;"
series8 = pd.read_sql(query, engine)
for name in series8['seriesname']:
    print name

ODA that is untied, million US$
Mobile-cellular subscriptions per 100 inhabitants
ODA received in landlocked developing countries as percentage of their GNI
ODA that is untied, percentage
Debt relief committed under HIPC initiative, cumulative million US$ in end-2009 NPV terms
Fixed-telephone subscriptions per 100 inhabitants
ODA received in small islands developing States as percentage of their GNI
Developed country imports from developing countries, admitted duty free, percentage
Mobile-cellular subscriptions
Debt relief delivered in full under MDRI initiative, cumulative million US$ in end-2009 NPV terms
Internet users per 100 inhabitants
ODA received in landlocked developing countries, million US$
ODA received in small islands developing States, million US$
Agriculture support estimate for OECD countries as percentage of their GDP
ODA to basic social services, million US$
Net ODA, million US$
Fixed-telephone subscriptions
Developed country imports from the LDCs, admitted duty free, percentage
Net ODA as percentage of OECD/DAC donors GNI
Net ODA to LDCs as percentage of OECD/DAC donors GNI
ODA provided to help build trade capacity, percentage
Net ODA to LDCs, million US$
Agriculture support estimate for OECD countries, million US$
ODA to basic social services as percentage of sector-allocable ODA
Debt service as percentage of exports of goods and services and net income

In [40]:
query = "SELECT DISTINCT targetid, seriesrowid, seriesname FROM undata WHERE goalid = 8;"
pd.read_sql(query, engine)

    targetid  seriesrowid                                         seriesname
0         15          787  Debt relief delivered in full under MDRI initi...
1         18          780                      Mobile-cellular subscriptions
2         18          755  Fixed-telephone subscriptions per 100 inhabitants
3         14          601  Agriculture support estimate for OECD countrie...
4         18          756  Mobile-cellular subscriptions per 100 inhabitants
5         14          717  ODA provided to help build trade capacity, per...
6         13          598                    ODA that is untied, million US$
7         13          599                     ODA that is untied, percentage
8         14          714  Developed country imports from the LDCs, admit...
9         18          605                 Internet users per 100 inhabitants
10        15          688  Debt relief committed under HIPC initiative, c...
11        14          639  ODA received in small islands developing State...
12        14          654  Agriculture support estimate for OECD countrie...
13        18          779                      Fixed-telephone subscriptions
14        13          593  ODA to basic social services as percentage of ...
15        12          568       Net ODA as percentage of OECD/DAC donors GNI
16        12          650  Net ODA to LDCs as percentage of OECD/DAC dono...
17        14          632  ODA received in landlocked developing countrie...
18        12          569                               Net ODA, million US$
19        15          655  Debt service as percentage of exports of goods...
20        14          713  Developed country imports from developing coun...
21        14          653  ODA received in small islands developing State...
22        14          652  ODA received in landlocked developing countrie...
23        12          651                       Net ODA to LDCs, million US$
24        13          592          ODA to basic social services, million US$

In [55]:
query = "SELECT * FROM undata WHERE targetid IN (1, 7, 8, 12, 13, 14, 15, 19, 20);"
undata = pd.read_sql(query, engine)
undata.shape

(120215, 28)

In [43]:
undata[undata.isformer == 1][['year', 'countryname', 'seriesname']]

       year     countryname                                         seriesname
37428  2006  Sudan (former)  Antenatal care coverage, at least one visit, p...
37578  1996  Sudan (former)  Developed country imports from the LDCs, admit...
37628  1997  Sudan (former)  Developed country imports from the LDCs, admit...
37678  1998  Sudan (former)  Developed country imports from the LDCs, admit...
37728  1999  Sudan (former)  Developed country imports from the LDCs, admit...
37778  2000  Sudan (former)  Developed country imports from the LDCs, admit...
37828  2001  Sudan (former)  Developed country imports from the LDCs, admit...
37878  2002  Sudan (former)  Developed country imports from the LDCs, admit...
37928  2003  Sudan (former)  Developed country imports from the LDCs, admit...
37978  2004  Sudan (former)  Developed country imports from the LDCs, admit...
38028  2005  Sudan (former)  Developed country imports from the LDCs, admit...
38078  2006  Sudan (former)  Developed country imports from the LDCs, admit...
38128  2007  Sudan (former)  Developed country imports from the LDCs, admit...
38178  2008  Sudan (former)  Developed country imports from the LDCs, admit...
38228  2009  Sudan (former)  Developed country imports from the LDCs, admit...
38278  2010  Sudan (former)  Developed country imports from the LDCs, admit...
38328  2011  Sudan (former)  Developed country imports from the LDCs, admit...
38378  2012  Sudan (former)  Developed country imports from the LDCs, admit...
38428  2013  Sudan (former)  Developed country imports from the LDCs, admit...
38478  2014  Sudan (former)  Developed country imports from the LDCs, admit...
40716  2009  Sudan (former)  Antiretroviral therapy coverage among people w...
40717  2010  Sudan (former)  Antiretroviral therapy coverage among people w...
41034  2009  Sudan (former)  Antiretroviral therapy coverage among people w...
41035  2010  Sudan (former)  Antiretroviral therapy coverage among people w...
41358  2009  Sudan (former)  Antiretroviral therapy coverage among people w...
41359  2010  Sudan (former)  Antiretroviral therapy coverage among people w...
41585  2010  Sudan (former)  Percentage of HIV-infected pregnant women who ...
41791  2010  Sudan (former)  Percentage of HIV-infected pregnant women who ...
41883  2010  Sudan (former)  Percentage of HIV-infected pregnant women who ...
44560  2009  Sudan (former)  Developed country imports from developing coun...
44696  2010  Sudan (former)  Developed country imports from developing coun...
44777  2007  Sudan (former)  Developed country imports from developing coun...
44884  2008  Sudan (former)  Developed country imports from developing coun...
44928  1996  Sudan (former)  Developed country imports from developing coun...
44929  1997  Sudan (former)  Developed country imports from developing coun...
44930  1998  Sudan (former)  Developed country imports from developing coun...
44931  1999  Sudan (former)  Developed country imports from developing coun...
44932  2000  Sudan (former)  Developed country imports from developing coun...
44933  2001  Sudan (former)  Developed country imports from developing coun...
44934  2002  Sudan (former)  Developed country imports from developing coun...
44935  2003  Sudan (former)  Developed country imports from developing coun...
44936  2004  Sudan (former)  Developed country imports from developing coun...
44937  2005  Sudan (former)  Developed country imports from developing coun...
44938  2006  Sudan (former)  Developed country imports from developing coun...
44939  2011  Sudan (former)  Developed country imports from developing coun...
44940  2012  Sudan (former)  Developed country imports from developing coun...

In [39]:
# undata[undata.countryname == 'Sudan'][['year', 'countryname', 'seriesname']]

In [56]:
undata = undata[undata.isformer == 0]
undata = undata.drop(['isformer'], axis=1)

In [57]:
columns = [column for column in undata.columns]
columns

[u'goalid',
 u'goalname',
 u'targetid',
 u'targetname',
 u'indicatorid',
 u'indicatorname',
 u'indicatororderclause',
 u'seriesrowid',
 u'seriesname',
 u'seriesorderclause',
 u'ismdg',
 u'lastupdated',
 u'countryid',
 u'countryname',
 u'iso3code',
 u'isdeveloped',
 u'mdgregions',
 u'ismdgcountry',
 u'isldc2014',
 u'islldc',
 u'gdppc2012',
 u'population2012',
 u'year',
 u'value',
 u'nature',
 u'footnoteid',
 u'footnotetext']

In [58]:
unsimple = undata[['countryname', 'iso3code', 'year', 'isdeveloped', 'mdgregions', 
                   'isldc2014', 'islldc', 'ismdgcountry', 'seriesname', 'gdppc2012',
                   'population2012', 'value']]

In [59]:
unsimple.describe()

,year,isdeveloped,isldc2014,islldc,ismdgcountry,gdppc2012,population2012,value
count,119982.000000,119644.000000,119982.000000,119982.000000,119982.000000,117764.000000,1.177640e+05,1.199820e+05
mean,2002.105566,0.217804,0.262081,0.011643,0.997183,13095.428226,3.710133e+07,-1.222319e+05
std,6.842719,0.412756,0.439768,0.107275,0.053002,20027.375974,1.328716e+08,1.639756e+07
min,1984.000000,0.000000,0.000000,0.000000,0.000000,128.100000,5.046000e+03,-2.146826e+09
25%,1996.000000,0.000000,0.000000,0.000000,1.000000,1369.300000,2.067717e+06,4.520000e+00
50%,2002.000000,0.000000,0.000000,0.000000,1.000000,4557.000000,9.308959e+06,3.500000e+01
75%,2008.000000,0.000000,1.000000,0.000000,1.000000,14702.500000,2.747438e+07,9.306750e+01
max,2015.000000,1.000000,1.000000,1.000000,1.000000,158976.800000,1.377065e+09,2.400000e+06

In [60]:
unsimple.shape

(119982, 12)

In [61]:
all_series = list(set(unsimple['seriesname']))
row = 'AIDS deaths'
all_series.remove(row)

In [62]:
unreshape = deepcopy(unsimple[unsimple['seriesname'] == row])
unreshape.rename(columns={'value': row}, inplace=True)
unreshape.shape

(2808, 12)

In [63]:
for series in all_series:
    new_cols = deepcopy(unsimple[unsimple['seriesname'] == series])
    new_cols.rename(columns={'value': series}, inplace=True)
    new_cols = new_cols.drop(['seriesname'], axis=1)
    keys = ['countryname', 'iso3code', 'year', 'isdeveloped', 'mdgregions', 
            'ismdgcountry', 'gdppc2012', 'population2012', 'isldc2014', 'islldc']
    unreshape = pd.merge(unreshape, new_cols, how='outer', on=keys)
    
unreshape.shape

(5477, 91)

In [64]:
unreshape.describe()

,year,isdeveloped,isldc2014,islldc,ismdgcountry,gdppc2012,population2012,AIDS deaths,Net ODA to LDCs as percentage of OECD/DAC donors GNI,"ODA that is untied, million US$",...,"Tuberculosis incidence rate per year per 100,000 population (lower bound)","HIV incidence rate, 15-49 years old, percentage (lower bound)","ODA to basic social services, million US$","Developed country imports from the LDCs, admitted duty free, percentage","Antenatal care coverage, at least one visit, percentage","Population below national poverty line, urban, percentage","Adolescent birth rate, per 1,000 women","Children under 5 sleeping under insecticide-treated bed nets, percentage","Condom use at last high-risk sex, 15-24 years old, women, percentage","Children under 5 with fever being treated with anti-malarial drugs, percentage"
count,5477.000000,5422.000000,5477.000000,5477.000000,5477.000000,5124.000000,5.124000e+03,2808.000000,610.000000,464.000000,...,5002.000000,1980.000000,395.000000,9.310000e+02,698.000000,449.000000,2838.000000,181.000000,203.000000,201.000000
mean,2001.702209,0.236997,0.220559,0.009129,0.989958,15935.060031,3.374047e+07,12499.943302,0.119832,1993.156426,...,121.400020,0.342587,403.050405,-1.383553e+07,83.174255,26.187461,44.407125,25.323757,39.697488,29.350249
std,7.085661,0.425280,0.414661,0.095118,0.099714,23630.198589,1.308793e+08,36711.905058,0.105204,3384.985277,...,170.136404,0.755555,1086.411593,1.718807e+08,18.901341,15.662865,37.794784,21.333467,19.219187,21.390816
min,1984.000000,0.000000,0.000000,0.000000,0.000000,128.100000,5.046000e+03,0.000000,0.000035,0.000000,...,0.340000,0.000000,0.000000,-2.146826e+09,15.400000,0.600000,0.000000,0.000000,1.300000,0.000000
25%,1996.000000,0.000000,0.000000,0.000000,1.000000,1688.375000,1.114106e+06,122.750000,0.040000,220.757500,...,17.000000,0.010000,39.955000,9.199000e+01,76.550000,13.600000,15.800000,5.000000,25.200000,8.200000
50%,2002.000000,0.000000,0.000000,0.000000,1.000000,6300.800000,6.645827e+06,981.000000,0.090000,696.445000,...,57.000000,0.050000,105.060000,9.946000e+01,90.450000,24.800000,33.000000,22.000000,39.300000,28.300000
75%,2008.000000,0.000000,0.000000,0.000000,1.000000,20006.000000,2.229391e+07,5622.000000,0.167500,2017.922500,...,164.000000,0.260000,358.245000,9.998000e+01,97.100000,36.500000,62.675000,41.100000,54.550000,48.300000
max,2015.000000,1.000000,1.000000,1.000000,1.000000,158976.800000,1.377065e+09,407865.000000,0.520000,21520.220000,...,1507.000000,5.630000,8694.440000,1.000000e+02,100.000000,68.800000,229.000000,80.600000,82.000000,74.000000

In [65]:
for col in sorted(unreshape.columns):
    print unreshape[col].count(), col

2808 AIDS deaths
2808 AIDS deaths (lower bound)
2808 AIDS deaths (upper bound)
936 AIDS orphans (one or both parents)
2838 Adolescent birth rate, per 1,000 women
326 Agriculture support estimate for OECD countries as percentage of their GDP
326 Agriculture support estimate for OECD countries, million US$
378 Antenatal care coverage, at least four visits, percentage
698 Antenatal care coverage, at least one visit, percentage
310 Antiretroviral therapy coverage among people with advanced HIV infection, percentage
316 Antiretroviral therapy coverage among people with advanced HIV infection, percentage (lower bound)
322 Antiretroviral therapy coverage among people with advanced HIV infection, percentage (upper bound)
181 Children under 5 sleeping under insecticide-treated bed nets, percentage
201 Children under 5 with fever being treated with anti-malarial drugs, percentage
166 Condom use at last high-risk sex, 15-24 years old, men, percentage
203 Condom use at last high-risk sex, 15-24 years old, women, percentage
700 Condom use to overall contraceptive use among currently married women 15-49 years old, percentage
746 Current contraceptive use among married women 15-49 years old, any method, percentage
700 Current contraceptive use among married women 15-49 years old, condom, percentage
730 Current contraceptive use among married women 15-49 years old, modern methods, percentage
36 Debt relief committed under HIPC initiative, cumulative million US$ in end-2009 NPV terms
36 Debt relief delivered in full under MDRI initiative, cumulative million US$ in end-2009 NPV terms
2575 Debt service as percentage of exports of goods and services and net income
2856 Developed country imports from developing countries, admitted duty free, percentage
931 Developed country imports from the LDCs, admitted duty free, percentage
1980 HIV incidence rate, 15-49 years old, percentage (lower bound)
1978 HIV incidence rate, 15-49 years old, percentage (mid-point)
1980 HIV incidence rate, 15-49 years old, percentage (upper bound)
57 HIV prevalence rate, men 15-49 years old, in national based surveys
57 HIV prevalence rate, women 15-49 years old, in national based surveys
97 Malaria death rate per 100,000 population, ages 0-4
97 Malaria death rate per 100,000 population, all ages
172 Men 15-24 years old with comprehensive correct knowledge of HIV/AIDS, percentage
649 Net ODA as percentage of OECD/DAC donors GNI
610 Net ODA to LDCs as percentage of OECD/DAC donors GNI
616 Net ODA to LDCs, million US$
651 Net ODA, million US$
97 Notified cases of malaria per 100,000 population
212 ODA provided to help build trade capacity, percentage
705 ODA received in landlocked developing countries as percentage of their GNI
726 ODA received in landlocked developing countries, million US$
764 ODA received in small islands developing States as percentage of their GNI
938 ODA received in small islands developing States, million US$
464 ODA that is untied, million US$
193 ODA that is untied, percentage
394 ODA to basic social services as percentage of sector-allocable ODA
395 ODA to basic social services, million US$
2784 People living with HIV, 15-49 years old, percentage
2784 People living with HIV, 15-49 years old, percentage (lower bound)
2784 People living with HIV, 15-49 years old, percentage (upper bound)
71 Percentage of HIV-infected pregnant women who received antiretroviral drugs to reduce the risk for mother-to-child transmission (Mid point)
205 Percentage of HIV-infected pregnant women who received antiretroviral drugs to reduce the risk for mother-to-child transmission (lower bound)
205 Percentage of HIV-infected pregnant women who received antiretroviral drugs to reduce the risk for mother-to-child transmission (upper bound)
978 Poorest quintile&quot;s share in national income or consumption, percentage
853 Population below $1.25 (PPP) per day, percentage
427 Population below national poverty line, rural, percentage
623 Population below national poverty line, total, percentage
449 Population below national poverty line, urban, percentage
853 Poverty gap ratio at $1.25 a day (PPP), percentage
3744 Purchasing power parities (PPP) conversion factor, local currency unit to international dollar
204 Ratio of school attendance rate of orphans to school attendance rate of non orphans
86 School attendance rate of children aged 10-14 both of whose parents are alive and who live with at least one parent
66 School attendance rate of orphans aged 10-14
5093 Tuberculosis death rate per year per 100,000 population (lower bound)
5093 Tuberculosis death rate per year per 100,000 population (mid-point)
5093 Tuberculosis death rate per year per 100,000 population (upper bound)
4647 Tuberculosis detection rate under DOTS, percentage (lower bound)
4647 Tuberculosis detection rate under DOTS, percentage (mid-point)
4647 Tuberculosis detection rate under DOTS, percentage (upper bound)
5002 Tuberculosis incidence rate per year per 100,000 population (lower bound)
5093 Tuberculosis incidence rate per year per 100,000 population (mid-point)
5002 Tuberculosis incidence rate per year per 100,000 population (upper bound)
5076 Tuberculosis prevalence rate per 100,000 population (lower bound)
5093 Tuberculosis prevalence rate per 100,000 population (mid-point)
5076 Tuberculosis prevalence rate per 100,000 population (upper bound)
3195 Tuberculosis treatment success rate under DOTS, percentage
335 Unmet need for family planning, limiting, percentage
325 Unmet need for family planning, spacing, percentage
383 Unmet need for family planning, total, percentage
299 Women 15-24 years old with comprehensive correct knowledge of HIV/AIDS, percentage
5477 countryname
5124 gdppc2012
5422 isdeveloped
5477 isldc2014
5477 islldc
5477 ismdgcountry
5452 iso3code
5422 mdgregions
5124 population2012
2808 seriesname
5477 year

In [66]:
with open('un_reshape2.pkl', 'w') as picklefile:
    pickle.dump(unreshape, picklefile)